*{
    margin: 0;
    padding: 0;
}


.box{
    color: blue;
}
.box1{
    background-color: aqua;
    margin: 25px;    
    border: 1px solid black;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.box2{
    background-color: violet;
    margin: 25px;    
    border: 1px solid black;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;

}